*{margin: 0px; padding: 0px;}

.createNote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.createNote .createNoteContainer{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 350px;
}

.createNote .createNoteContainer .title{
    font-weight: 600;
    font-size: 28px;
}


.createNote .createNoteContainer form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
.createNote .createNoteContainer form .input{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.createNote .createNoteContainer form .input label{
    color: #999;
    font-weight: 600;
}
.createNote .createNoteContainer form .input input,
.createNote .createNoteContainer form .input textarea{
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    resize: vertical;
    max-height: 100px;
}
.createNote .createNoteContainer form .states{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.createNote .createNoteContainer form .states .state{
    display: flex;
    align-items: center;
    gap: 8px;
}

.createNote .createNoteContainer form .states .state label{ 
    font-weight: 600;
}

.createNote .createNoteContainer form .error{
    color: rgb(243, 43, 43);
}


.createNote .createNoteContainer form .createBtn{
    padding: 8px ;
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
}









