*{margin: 0px; padding: 0px;}
.container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .login{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 280px;
}

.container .login .title{
    font-weight: 600;
    font-size: 28px;
}

.container .login .definePage{
    font-weight: 600;
    font-size: 20px;
}

.container .login form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
.container .login form .input{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.container .login form .input label{
    color: #999;
    font-weight: 600;
}
.container .login form .input input{
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
}
.container .login form .error{
    color: rgb(243, 43, 43);
}
.container .login form button{
    padding: 8px ;
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
}


