nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    align-items: end;
    background-color: antiquewhite;
}


nav .navbar .leftSide{ 
    display: flex;
    gap: 15px;
    align-items: end;
}
nav .navbar .leftSide .logo{ 
    font-weight: 600;
    font-size: 24px;
}

nav .navbar .leftSide .option{
    text-decoration: none;
    
}
nav .navbar .leftSide .active{
    font-weight: 600;    
}


nav .navbar .rightSide .logoutBtn{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;

}




